<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xieke.admin.mapper.CourseMapper">

    <resultMap type="com.xieke.admin.entity.Course" id="BaseResultMap">
                        <id column="CID" property="cid" />
                                <result property="cname" column="CName"/>
                                <result property="subid" column="SubID"/>
                                <result property="lessonnum" column="LessonNum"/>
                                <result property="price" column="Price"/>
                                <result property="comment" column="Comment"/>
                </resultMap>

</mapper>